<div class="status">
  <span [class.offline]="status.toLowerCase() !== 'online'" [class.online]="status.toLowerCase() === 'online'">{{status}}</span>
</div>

<ngx-tabs style="overflow: hidden; height: 94vh;">
  <ngx-tab title="Main">
    <div fxLayout="row" class="h-100-p" ngxSplit="row">
      <div fxFlex="0 0 15vw" style="background: #3B4457; padding:10px">
        <div class="pl-1">
          <ngx-radiobutton *ngFor="let mode of modes" [checked]="currentMode === mode" (change)="currentMode = mode">
            {{mode}}
          </ngx-radiobutton>
        </div>
      </div>
      <div fxFlex="1 0 80vw" maxBasis="80vw" minBasis="50vw" style="background: #2f3646; padding: 10px; padding-right: 0;" ngxSplitArea>
        <div #root style="width: 82vw; height: 83vh;">
          <canvas #canvas width="1280" height="680" class="glow-blue-100" (mouseleave)="onMouseLeave($event)" (mousedown)="onMouseDown($event)"
            (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)" (click)="onClick($event)"></canvas>
        </div>
      </div>
    </div>
  </ngx-tab>
  <ngx-tab title="Templates">
    <div fxLayout="row nowrap" fxFill>
      <div class="builder-source ngx-scroll" style="overflow: auto; padding-bottom: 40px;" fxFlex="20%">
        <h4>Components</h4>

        <ngx-dnd-container class="root-container" [model]="sourceBuilderTools" [dropZones]="['builder-target']" [copy]="true" [droppableItemClass]="droppableItemClass"
          (drag)="builderDrag($event)">

          <ng-template let-item="model">
            {{item.name}}: {{item.type}}
          </ng-template>
        </ngx-dnd-container>
      </div>
      <div class="builder-target ngx-scroll" style="overflow: auto; padding-bottom: 40px;" fxFlex="60%">
        <h4>
          <ngx-select [ngModel]="[selectedTemplateForEdit]" (ngModelChange)="onSelectTemplateForEdit($event)" label="Select a template">
            <ngx-select-option *ngFor="let templ of appService.ecsTemplates" [name]="templ.$name" [value]="templ">
            </ngx-select-option>
          </ngx-select>
        </h4>

        <ngx-dnd-container class="root-container" [model]="targetBuilderTools" dropZone="builder-target" [removeOnSpill]="true" [droppableItemClass]="droppableItemClass"
          (drag)="log($event)" (drop)="log($event)" (over)="log($event)" (out)="log($event)" (remove)="log($event)">

          <ng-template let-model="model" let-template="template">
            {{model.name}}: {{model.$type}}
            <ngx-codemirror [(ngModel)]="model.$valueStr" [config]="editorConfig" style="height: 100px;">
            </ngx-codemirror>
            <!-- <div [ngSwitch]="model.inputType">
              <div *ngSwitchCase="'section'">
                <ngx-section class="shadow" [sectionTitle]="model.name">
                  <ngx-dnd-container dropZone="builder-target" [model]="model.children" [removeOnSpill]="true" [template]="template" [droppableItemClass]="droppableItemClass"
                    (drag)="log($event)" (drop)="log($event)" (over)="log($event)" (out)="log($event)" (remove)="log($event)"
                    (cancel)="log($event)">
                  </ngx-dnd-container>
                </ngx-section>
              </div>
              <div *ngSwitchDefault>
                <ngx-input [type]="model.inputType" [hint]="model.name" [autofocus]="false" [ngModel]="model.data">
                </ngx-input>
              </div>
            </div> -->
          </ng-template>
        </ngx-dnd-container>
      </div>
    </div>
  </ngx-tab>
</ngx-tabs>


<!-- TODO: -->
<!-- Filtes: Stages, Events, System, Template, Component -->
<!-- RW, RO Components -->
<!-- Process NotHaveComponents -->
<!-- Entity list -->