.online {
  color: green;
  font-weight: bold;
}

.offline {
  color: #FF6D47;
}

.status {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.7em;
  margin-right: 1.8em;
  margin-top: 0.4em;
}

.pl-1 { padding-left: 1.8em }
.pt-1 { padding-top: 1.8em }