.app {
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app .navigation {
  display: flex;
  flex-shrink: 0;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.app .main {
  display: flex;
  flex-grow: 1;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  width: 100%;
  /* padding-top: 50px; */
}

.app .main .page {
  width: 100%;
  padding: 1.8em;
  margin-bottom: 2em;
}

.online {
  color: green;
  font-weight: bold;
}

.offline {
  color: #FF6D47;
}

.status {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.7em;
  margin-right: 2.2em;
  margin-top: 1.4em;
}

/* .ecs-template {
  max-height: 150px;
} */

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.h-100 {
  height: 100vh;
}

.h-90 {
  height: 90vh;
}

.h-100-p {
  height: 100%;
}

.ngx-tabs {
  width: 100%;
  /* margin-bottom: 10px !important; */
}

.ngx-tab-content {
  /* padding-bottom: 0px !important; */
}

.d-block { display: block; }

.pl-1 { padding-left: 1.8em }
.pt-1 { padding-top: 1.8em }
.pb-1 { padding-bottom: 1.8em }
.pr-1 { padding-right: 1.8em }

.ml-1 { margin-left: 1.8em }
.mt-1 { margin-top: 1.8em }

.mb-0 { margin-bottom: 0 !important; }
.mb-1 { margin-bottom: 1.8em !important; }
.pb-0 { padding-bottom: 0 !important; }