<ng-template #editComponentTemplate let-context="context">
  <!-- <textarea class="form-input" [(ngModel)]="e.$componentsStr[c.key]"></textarea> -->
  <!-- <h1>{{context | json}}</h1> -->
  <!-- <textarea class="form-input" [(ngModel)]="context.value"></textarea> -->
  <ngx-toolbar [title]="context.entity.$template">
  </ngx-toolbar>
  <section class="section mb-0 pb-0">
    <button type="button" class="btn btn-primary" (click)="onSaveComponent($event, context.component, context.entity, code)">Save</button>
  </section>
  <section class="section">
    <ngx-codemirror #code [(ngModel)]="context.value" [config]="editorConfig"></ngx-codemirror>
  </section>
</ng-template>

<ng-template #poslessEntityTemplate>
  <ngx-toolbar [title]="'Entities without position'">
  </ngx-toolbar>
  <!-- <section class="section mb-0 pb-0"> -->
    <!-- <button type="button" class="btn btn-primary" (click)="onAddPoslessEntity($event)">Add</button> -->
    <!-- <button type="button" class="btn btn-bordered ml-1" (click)="onCancelPoslessEntities($event)">Cancel</button> -->
  <!-- </section> -->
  <section class="section">
    <ngx-section *ngFor="let e of this._poslessEntities" class="shadow" [sectionTitle]="getPoslessEntityTitle(e)" [sectionCollapsed]="true">
      <button *ngFor="let c of e.$componentsStr | keyvalue" class="d-block mb-1 btn btn-default" (click)="onEditComponent(e, c.key)">{{c.key}}</button>
      <!-- <ngx-section *ngFor="let c of e.$componentsStr | keyvalue" class="shadow" [sectionTitle]="c.key"
        [sectionCollapsed]="true">
        <textarea class="form-input" [(ngModel)]="e.$componentsStr[c.key]"></textarea>
      </ngx-section> -->
    </ngx-section>
  </section>
</ng-template>

<ng-template #editEntityTemplate>
  <ngx-toolbar [title]="'Add Entity'">
  </ngx-toolbar>
  <section class="section mb-0 pb-0">
    <button type="button" class="btn btn-primary" (click)="onSaveEntity($event)">Save</button>
    <button *ngIf="_indexForEdit >= 0" type="button" class="btn btn-bordered ml-1" (click)="onDeleteEntity($event)">Delete</button>
  </section>
  <section class="section">
    <ngx-select [ngModel]="[selectedTemplate]" (ngModelChange)="onSelectTemplate($event)" label="Select a template">
      <ngx-select-option *ngFor="let templ of appService.ecsTemplates" [name]="templ.$name" [value]="templ">
      </ngx-select-option>
    </ngx-select>
    <div *ngIf="selectedTemplate">
      <button *ngFor="let c of _currentEntity.$componentsStr | keyvalue" class="d-block mb-1 btn btn-default" (click)="onEditComponent(_currentEntity, c.key)">{{c.key}}</button>
      <!-- <ngx-section *ngFor="let c of _currentEntity.$componentsStr | keyvalue" class="shadow" [sectionTitle]="c.key"
        [sectionCollapsed]="true">
        <ngx-input type="textarea" [label]="'Value'" [(ngModel)]="_currentEntity.$componentsStr[c.key]"></ngx-input>
      </ngx-section> -->
    </div>
  </section>
</ng-template>

<canvas
  #editorCanvas
  width="1280"
  height="680"
  class="glow-blue-100"
  (mouseleave)="onMouseLeave($event)"
  (mousedown)="onMouseDown($event)"
  (mouseup)="onMouseUp($event)"
  (mousemove)="onMouseMove($event)"
  (click)="onClick($event)"></canvas>