/ecs/Debug
/.vs
/Debug
/Release
/ecs/Release
/ecs/x64/Debug
/codegen/x64/Debug
/script/Debug
/script/Release
/lua/lua/Debug
/lua/lua/Release
/mongoose/mongoose/Debug
/mongoose/mongoose/Release
/*.opendb
/*.db
/ecs/*.user
/raylib/examples
/raylib/games
/raylib/projects
/raylib/templates
*.obj
*.tlog
*.log
*.pdb
*.vcxproj.user
/EASTL
/jemalloc
/raylib
/sample/AS_DEBUG
/sample/GPUCache
/sample/blob_storage
/sdk
/cef
/Box2D